
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Google</title>
</head>
<body style="margin:0 auto; text-align:center">
    <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" />
    <br />
    <div>
        <a style="border-radius:30px; border:1px solid #ccc; padding:10px;" href="@Url.RouteUrl("Home")">HOME</a>

        <a style="border-radius:30px; border:1px solid #ccc; padding:10px;"   href="@Url.RouteUrl("Login")">LOGIN</a>
    </div>
    <h1>
        Yerli ve milli google
    </h1>
    <input style="width:200px; height:20px; padding:10px; border:1px solid #808080; border-radius:30px;" placeholder="Ara bakalım.." value="" />
    <input style="cursor:pointer; border:1px solid #808080; height:35px; width:50px; padding:5px; border-radius:30px; background-color:#db9d2d; color:white" type="button" value="Ara" />
    <input style="cursor:pointer; border:1px solid #808080; height:35px; padding:5px; border-radius:30px; background-color:#db9d2d; color:white" type="button" value="Kendimi şanslı hissediyore" />

    <footer>
        &copy; @DateTime.UtcNow.Year  - me
    </footer>
    @RenderBody()
    @RenderSection("Scripts",false)
</body>
</html>
